

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


h3 {
	font-size: 18px;
	line-height: 20px;
}
.row img {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.span4 {
	margin-bottom: 20px;
}












